.additional-products {}

.additional-products__title {
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additional-products__list {}

.additional-products__item {}

.additional-products__item-title {
  color: $base-color-description-text;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.additional-products__item-amount {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $base-color-text;
}

.additional-products__item-price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $base-color-text;
}
