.catalog-card-more {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  margin-bottom: 34px;

}

@media (min-width: $tablet-width) {
  .catalog-card-more {
    margin: 0;
    padding: 0;
  }
}

.catalog-card-more__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 0;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-card-more__title {
    font-size: 20px;
    line-height: 24px;
    padding: 241px 95px 23px 95px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card-more__title {
    font-size: 20px;
    line-height: 24px;
    padding: 227px 47px 23px;
  }
}

.catalog-card-more__title::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 140px;
  transform: translateY(-50%);
  width: 2px;
  height: 30px;
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .catalog-card-more__title::before {
    top: 162px;
    left: 162px;
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card-more__title::before {
    top: 162px;
    top: 158px;
    left: 123px;
  }
}

.catalog-card-more__title::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 125px;
  transform: translateY(-50%);
  width: 30px;
  height: 2px;
  background-color: $grey;
}

@media (min-width: $tablet-width) {
  .catalog-card-more__title::after {
    top: 163px;
    left: 132px;
    width: 60px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card-more__title::after {
    top: 159px;
    left: 94px;
    width: 60px;
  }
}

.catalog-card-more__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog-card-more__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 77px 93px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card-more__text {
    font-size: 16px;
    line-height: 18px;
    padding: 0 37px 104px;
    text-align: center;
  }
}
