.catalog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey-2;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr min-content;
    margin: 0;
    padding: 0 37px;
    background: linear-gradient(0deg, $basic-grey 430px, #ffffff 81px);
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 245px;
    min-height: 511px;
    background: linear-gradient(0deg, $basic-grey 430px, #ffffff 81px);
  }
}

.catalog-card__img:hover {
  opacity: 60%;
}

.catalog-card__img:active {
  opacity: 30%;
}

.catalog-card__img {
  grid-area: 1 / 1 / 3 / 2;
  margin: 0;
  height: auto;
  place-self: center;
}

@media (min-width: $tablet-width) {
  .catalog-card__img {
    margin: 0;
    padding: 0;
    display: flex;
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 242px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__img {
    height: 231px;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__picture {
    margin-top: -10px;
  }
}

.catalog-card__product-link {
  text-decoration: none;
  grid-area: 1 / 2 / 2 / 3;
  margin: 0;
  padding: 20px 64px 14px 0;
  height: fit-content;
}

@media (min-width: $tablet-width) {
  .catalog-card__product-link {
    text-align: center;
    padding: 0;
    height: fit-content;
    align-self: anchor-center;
    grid-area: 2 / 1 / 3 / 2;
  }
}

.catalog-card__product {
  text-decoration: none;
  text-transform: uppercase;
  color: $base-color-description-text;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.catalog-card__product:hover {
  opacity: 60%;
}

.catalog-card__product:active {
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .catalog-card__product {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 20px;
    width: 135px;
  }
}

.catalog-card__specification-list {
  list-style: none;
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-bottom: 21px;

}

@media (min-width: $tablet-width) {
  .catalog-card__specification-list {
    padding: 0;
    margin: 0;
    padding-bottom: 27px;
    width: 250px;
    grid-area: 3 / 1 / 4 / 2;
    margin-inline: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__specification-list {
    width: 169px;
    margin-inline: auto;
    padding-bottom: 29px;
    margin-inline: auto;
  }
}

.catalog-card__specification-item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .catalog-card__specification-item {
    border-bottom: 1px solid $special-grey;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__specification-item {
    border-bottom: 1px solid $special-grey;
    margin-bottom: 8px;
    padding-bottom: 5px;
  }
}

.catalog-card__specification-text {
  text-decoration: none;
  color: $base-color-description-text;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-card__specification-text {
    font-size: 16px;
    line-height: 20px;
  }
}
