.catalog-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey-2;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px 37px 40px 37px;
    background: linear-gradient(0deg, $basic-grey 430px, #ffffff 81px);
  }
}
@media (min-width: $desktop-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding:0;
    width: 245px;
    height: 511px;
    background: linear-gradient(0deg, $basic-grey 430px, #ffffff 81px);
  }
}

.catalog-card__img {
  grid-area: 1 / 1 / 3 / 2;
  margin: 0;
  height: fit-content;
  justify-self: anchor-center;
  align-self: anchor-center;
}

@media (min-width: $tablet-width) {
  .catalog-card__img {
    margin: 0;
    padding: 0;
    padding-bottom: 22px;
    width: 200px;
    height: 210px;
  }
}
@media (min-width: $tablet-width) {
  .catalog-card__img {
    width: 169px;
  }
}

.catalog-card__picture{
  align-self: center;
}
.catalog-card__product-link {
  text-decoration: none;
  grid-area: 1 / 2 / 2 / 3;
  margin: 0;
  padding: 20px 64px 14px 0px;
  height: fit-content;
}

@media (min-width: $tablet-width) {
  .catalog-card__product-link {
    text-align: center;
    padding: 0;
    height: fit-content;
    width: 135px;
    height: 47px;
    align-self: anchor-center;

  }
}

.catalog-card__product {
  text-decoration: none;
  color: $base-color-description-text;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-card__product {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog-card__specification-list {
  list-style: none;
  grid-area: 2 / 2 / 3 / 3;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .catalog-card__specification-list {
    padding: 0;
    margin: 0;
    padding-bottom: 32px;
    width: 250px;
  }
}
@media (min-width: $desktop-width) {
  .catalog-card__specification-list {
    width: 169px;
    align-self: anchor-center;
  }
}

.catalog-card__specification-item {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .catalog-card__specification-item {
    border-bottom: 1px solid $special-grey;
    margin-bottom: 10px;
    padding-bottom: 5px;

  }
}

.catalog-card__specification-text {
  text-decoration: none;
  color: $base-color-description-text;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-card__specification-text {
    font-size: 16px;
    line-height: 20px;
  }
}
