.catalog-promo{
  display: flex;
  flex-direction: column;
}

@media(min-width: $desktop-width){
 .catalog-promo{
    flex-direction: row;
  }
}

.catalog-promo-card{

}

.catalog-promo-card__title{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-promo-card__description{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
