.catalog-promo-card-button {
  height: 20px;
}
@media(min-width: $tablet-width){
 .catalog-promo-card-button {
  height:38px;
  width:fit-content;
  margin: 0;
  padding: 0px 491px 31px 52px;
}
}
@media(min-width: $desktop-width){
 .catalog-promo-card-button {
  height:38px;
  width:fit-content;
  margin: 0;
  padding: 0px 350px 55px 52px;
}
}
.catalog-promo-card-button::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 10px;
  margin-left: 8px;
  background-image: url("../../icons/stack.svg#icon-arrow");
}

.catalog-promo-card-button__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  vertical-align: bottom;
}
@media(min-width: $tablet-width){
  .catalog-promo-card-button__link {
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  vertical-align: bottom;
  margin: 0;

}

}
