.main-map {
  width: 100%;
}

@media (min-width: $desktop-width) {
  .main-map {
    position: relative;

  }
}

.main-map__wrapper {
  display: flex;
  flex-direction: row;
}

@media (min-width: $desktop-width) {
  .main-map__wrapper {
    padding: 60px 78px 60px 80px;
    position: absolute;
    background-color: #ffffff;
    box-sizing: border-box;
    gap: 87px;
    top: 95px;
    left: 110px;
  }

}


.main-map iframe {
  width: 100%;
  min-height: 362px;
  border: 0;
  display: block;
}

.main-map__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  padding: 26px 0px 26px 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-map__title {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    padding: 61px 308px 61px 70px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-map__title {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: 163px;
  }
}

.main-map__text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  padding: 26px 0px 26px 20px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-map__text {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    padding: 60px 70px 60px 0px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-map__text {
    font-size: 16px;
    line-height: 20px;
    color: #444444;
    padding: 0;
    margin: 0;
    width: 157px;
  }
}
