.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.main-nav__list-item {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.main-nav__link {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
