.main-promo{
background-color: #68B738D9;
}
.main-promo__title{
font-family: "Oswald", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 36px;
color: #ffffff;
}
.main-promo__description{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}
