.main-case {
  display: flex;
  flex-direction: column;

}

@media (min-width: $tablet-width) {
  .main-case {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #ffffff;
    border-top: 1px solid $border-grey-2;
  }
}

@media (min-width: $desktop-width) {
  .main-case {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding: 0;
    background: none;
    border: none;
  }
}

.main-case-background {
  background-color: #eaeaea;
  padding-bottom: 40px;

}

@media (min-width: $tablet-width) {
  .main-case-background {
    background-color: #eaeaea;
    background: linear-gradient(0deg, #eaeaea 462px, #0000 462px);
    padding-top: 5px;
    padding-bottom: 101px;
  }
}

@media (min-width: $desktop-width) {
  .main-case-background {
    background-color: $basic-grey;
    background: linear-gradient(0deg, $basic-grey 462px, #0000 136px);
    padding-bottom: 80px;
  }
}

.main-case__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-case__title {
    font-size: 60px;
    line-height: 60px;
    padding: 45px 0px 60px 0px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;

  }
}

@media (min-width: $desktop-width) {
  .main-case__title {
    padding: 0px 335px 142px 0px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    border: none;
    white-space: nowrap;
  }
}

@media (min-width: $desktop-width) {
  .main-case__title {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.main-case__text {
  grid-column: 1 / -1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .main-case__text {
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 55px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-case__text {
    padding: 0;
    margin: 0;
    max-width: 433px;
    padding-bottom: 69px;

  }
}

@media (min-width: $desktop-width) {
  .main-case__text {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.main-case__cost-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-left: 46px;
  gap: 5px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .main-case__cost-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
    margin-top: 15px;
    gap: none;

  }
}
@media (min-width: $desktop-width) {
  .main-case__cost-wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 0;
    gap: 65px;
    padding: 0;

  }
}

.main-case__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-case__cost {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: fit-content;
    flex-shrink: 0;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .main-case__cost {
    grid-area: 4 / 1 / 5 / 2;
    text-align: justify;
  }
}
