.more-button {
  background-color: #f2f2f2;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
  text-transform: uppercase;
  padding: 10px 95px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .more-button {
    padding: 0;
    margin: 0;
    padding: 10px 80px;
    display: block;
    width: 250px;
    height: 40px;
    box-sizing: border-box;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .more-button {
    margin: 0;
    padding: 10px 39px;
    margin: 0px 38px 40px 38px;
    width: fit-content;
  }
}

.more-button:hover {
  background-color: $border-grey-2;
}

.more-button:active {
  background-color: $border-grey-2;
}
